.search-controls {
  margin-bottom: 20px;

  .advanced-controls,
  .basic-controls {
    background-color: $gray-lighter;
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  .available-between-control-group {
    label {
      display: block;
    }

    @include input-size(
      '.date-picker',
      $input-height-base,
      $padding-base-vertical,
      $padding-base-horizontal,
      $font-size-base,
      $line-height-base,
      $input-border-radius
    );
    .date-picker {
      width: 145px;
      border: 1px solid $input-border;
      border-bottom-width: 2px;
      background-color: #fff;

      input {
        padding: 0;
      }
    }

    .time-field {
      width: 74px;
    }
  }

  @media (min-width: $screen-md-min) {
    .is-favorite-checkbox {
      position: relative;
      top: 28px;
    }
  }

  .people-input {
    width: $number-field-width;
  }

  .toggle-container {
    margin-bottom: 10px;

    .toggle-advanced {
      color: $text-color;
      text-decoration: none;
      outline: none;

      &:hover {
        cursor: pointer;
      }

      .icon {
        color: $brand-primary;
        font-size: 26px;
        margin-left: 4px;
        margin-top: 3px;
        position: relative;
        top: 3px;
      }
    }
  }
}
