.reservation-success-modal {
  .modal-header,
  .modal-body {
    padding-left: 30px;
    padding-right: 30px;
  }

  .modal-header {
    border-bottom: none;

    button.close {
      font-size: 52px;
      font-weight: 100;
    }
  }

  &-main-title {
    text-align: center;
    margin-top: 20px;
  }
  &-list-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .reservations-list,
  .failed-reservations-list {
    padding-left: 0px;
  }

  &-section {
    margin-bottom: 20px;
  }
  &-section + &-section {
    margin-top: 35px;
  }

  &-catering-order {
    padding: $padding-base-vertical $padding-base-horizontal;
    text-align: center;
    font-weight: 500;

    &-success {
      background-color: $theme-info;
    }

    &-error {
      background-color: $theme-danger;
    }
  }
}
