@import './label-select/label-select';

.date-time-range-field {
  display: flex;
  justify-content: flex-start;

  .form-group {
    max-width: 200px;
    margin-left: $padding-small-horizontal;
    margin-bottom: 0;

    &:first-child {
      margin-left: 0;
    }
  }
  .react-date-field {
    height: $input-height-base;
    margin-bottom: $padding-small-vertical;
    border-width: 2px;
    border-color: $input-border;
    border-radius: $input-border-radius;
    padding: $padding-small-vertical $padding-small-horizontal;

    &--focused {
      border-color: $input-border-focus;
    }
    .has-error & {
      border-color: $brand-danger;
    }
  }
}

.react-date-picker__calendar {
  min-width: 282px !important;  // Fix width in IE 11.
}
