@import './reservation-row/reservation-row';

.day-reservations {
  &:not(:first-child) {
    margin-top: 7px;
  }

  .day {
    padding: $padding-base-vertical $padding-base-horizontal;
    margin-bottom: 2px;
    background-color: $brand-primary;
    color: #fff;

    @media (min-width: $screen-md-min) {
      margin-right: 7px;
      flex-basis: 17%;
    }
  }

  .reservations {
    flex-grow: 1;
  }

  @media (min-width: $screen-md-min) {
    display: flex;
  }
}
