.favorite-button {
  float: right;
  border: 1px solid $gray-light;
  border-radius: 5px;
  background-color: #fff;
  padding: 0;
  overflow: hidden;
  @media (max-width: $screen-sm) {
    float: none;
  }
  .favorite-text {
    position: relative;
    padding: 0 10px;
  }
  .favorite-icon {
    top: 0;
    border-left: 1px solid $gray-light;
    padding: 10px;
    font-size: 14px;
  }
  .favorited {
    .favorite-icon {
      color: $favorite-color;
      background: linear-gradient($gray-light, $gray-lighter, $gray-light);
    }
  }
}
