.resource-availability {
  @reservation-height: 40px;
  width: 1000px;
  overflow-x: auto;

  .reservations-timeline {
    display: flex;
  }
  .reservation, .reservation-slot {
    display: inline-flex;
    margin: 1px;
    border-radius: 2px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .reservation {
    height: @reservation-height;
    background-color: lightgreen;
    font-size: 10px;
    align-items: center;
    padding: 3px 5px;
    overflow: hidden;

    .times {
      margin-right: 5px;
    }
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .reservation-slot {
    height: @reservation-height;
    background-color: grey;
  }
}
