.feedback-floating {
  transform-origin: top right;
  transform: rotate(90deg);
  position: fixed;
  bottom: 0.75em;
  right: -3px;
  z-index: 8000;
  box-shadow: 2px 1px 3px 0 rgba(#000000, 0.2);
  border: 3px solid $white;
  background-color: $white;

  .btn {
    padding-top: 0.5em;
  }

  .btn-beta {
    background-color: $hel-copper;
    color: $white;
    text-transform: uppercase;
    font-weight: bold;
  }
}
