.resource-info {
  background-color: $gray-lighter;
  padding: 10px 10px 30px 10px;

  .back-link {
    background-color: #fff;
    color: $text-color;
    padding-right: 40px;
    padding-left: 15px;
    margin-bottom: 10px;
    border: none;
  }

  .resource-details {
    margin-top: 20px;
    margin-bottom: 20px;

    .details-row {
      font-weight: 600;

      .details-value {
        color: $brand-primary;
      }

      .label {
        display: inline-block;
        font-size: $font-size-small;
        padding: 0.4em;
        margin: 0.2em;
      }
    }

    .resource-description {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .favorite-button {
    margin-bottom: 20px;
  }

  .resource-image-container {
    display: block;
    float: right;

    &:hover {
      cursor: pointer;
    }
    &:focus {
      outline: none;
    }

    .resource-image {
      width: 230px;
    }

    .caption {
      padding: 4px;
      text-align: center;
      background-color: $gray-dark;
      color: #fff;
      width: 100%;
    }

  }

  .sidebar {
    @media (max-width: $screen-sm-min) {
      display: flex;
      align-items: flex-start;
    }

    .show-images-mobile {
      margin-left: 20px;
    }
  }

  .map-marker {
    color: $brand-primary;
  }
}
