.chair-icon {
  background: url("../icons/huvaja-chair.svg") no-repeat top left;
  background-size: contain;
  width: 9 / 7 * 1rem;
  height: 9 / 7 * 1rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  display: inline-block;
  vertical-align: middle;
}
