.catering-order-table {
  thead {
    border-bottom: 2px solid $gray-darker;

    th {
      font-weight: bold;
    }
  }

  tbody {
    td.product, td.description, td.number {
      vertical-align: middle;
    }
  }

  .product {
    min-width: 100px;
  }

  .number {
    text-align: right;
    width: 100px;
  }
}
