.catering-modal {
  .modal-dialog {
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
  }

  .catering-form {
    .form-controls {
      text-align: right;
      background-color: $background-gray;
      padding: $padding-base-vertical $padding-base-horizontal;
      margin-top: 15px;

      button + button {
        margin-left: 10px;
      }
    }

    .pricing-link {
      display: block;
      margin: $padding-base-vertical 0;
    }
  }
}
