.catering-modal {
  .modal-dialog {
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
  }

  .catering-form {
    .controls {
      margin-left: -20px;
      margin-right: -20px;
      padding: 20px 20px 0;
      border-top: 1px solid $gray-light;

      .cancel-button {
        float: right;
      }
    }
  }
}
