.catering-modal {
  .modal-dialog {
    @media (min-width: $screen-sm-min) {
      width: $container-sm;
    }
  }

  .catering-form {
    .controls {
      margin-left: -15px;
      margin-right: -15px;
      padding: 20px 20px 0;
      border-top: 1px solid $gray-light;

      .cancel-button {
        float: right;
      }
    }
    .pricing-link {
      display: block;
      margin: $padding-base-vertical 0;
    }
  }
}
