.resource-selector {
  position: relative;
  min-height: 50px;

  .resource-list {
    margin-bottom: 25px;

    .resource-list-heading {
      margin-bottom: 10px;
    }
  }
  .resource-item {
    background-color: $gray-lighter;
    padding: $padding-base-vertical $padding-base-horizontal;
    margin-bottom: 10px;

    > a {
      color: $text-color;
      text-decoration: none;

      &:focus {
        outline: 0;
        text-decoration: none;
      }
    }

    &.unavailable > a {
      color: $theme-danger;
    }

    &-disabled-text {
      color: $theme-danger;
      margin-bottom: 0;
    }

    &:hover {
      &:not(.disabled) {
        background-color: $gray-light;
        cursor: pointer;
      }
      &.disabled {
        cursor: not-allowed;
      }
    }

    .capacity {
      color: $brand-primary;

      .chair-icon {
        margin-top: -2px;
        margin-right: 0;
      }
    }
  }
}
