.reservation-row {
  display: flex;
  margin-bottom: 2px;
  text-decoration: none;

  &:focus {
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  .left, .right {
    display: inline-block;
    padding: $padding-base-vertical $padding-base-horizontal;
  }

  .left {
    background-color: $brand-success;
    color: #fff;
    flex-basis: 30%;
  }

  .right {
    background-color: $background-gray;
    color: $text-color;
    flex-basis: 70%;

    .right-top {
      display: flex;
      justify-content: space-between;
    }
  }

  .time-range,
  .place {
    font-weight: bold;
  }

  .host-name,
  .event-subject {
    font-weight: regular;
  }

  .icons {
    & > * {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .icon {
    color: $brand-primary;
  }
}
